<aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-2">
    <div class="menu-header">
        <span class="title">AGE - Agendamento Eletronico</span>
    </div>
    <ul class="sidebar-menu">
        <li class="group-title">Menu</li>
        <li><a (click)="toogleMenu()" [routerLink]="['/']"><span class="mif-home icon"></span>Home</a></li>
        <li class="divider"></li>
        <li>
            <a href="#" class="dropdown-toggle"><span class="mif-calendar icon"></span>Agendamento</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a (click)="toogleMenu()" [routerLink]="['/empreendimentos']">Novo</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a (click)="toogleMenu()" [routerLink]="['/meus-agendamentos']">Meus Agendamentos</a></li>
                <li class="divider bg-lightGray"></li>
            </ul>
        </li>
    </ul>
</aside>
<div class="h-100 p-ab shadow-1">
    <span class="pos-absolute pos-top-left">AGE - Agendamento Eletronico</span>
    <button style="background: #fff;" class="button square pos-absolute pos-top-right"
            id="sidebar-toggle-2">
        <span (click)="toogleMenu()" id="item-menu"
        [class.mif-cross]="openMenu"
        class="mif-menu mif-4x"></span>
    </button>
</div>


