<aside *ngIf="isLoggedIn();" class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3"
  data-shift=".shifted-content">
  <div class="sidebar-header bg-green">
      <a href="/" class="fg-white sub-action"
      onclick="Metro.sidebar.close('#sb3'); return false;">
       <span class="mif-arrow-left mif-2x"></span>
   </a>
    <div class="avatar">
      <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
    </div>
    <span class="title fg-white">Bem vindo(a) {{user().Usuario}}</span>
    <span class="subtitle fg-white"> AGE - Agendamento Eletrônico </span>
  </div>
  <ul class="sidebar-menu">
      <li class="group-title">Menu</li>
      <li><a [routerLink]="['/']"><span class="mif-home icon"></span>Home</a></li>
      <li class="divider"></li>
      <li>
        <a href="#" class="dropdown-toggle"><span class="mif-calendar icon"></span>Agendamento</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLinkActive="active" [routerLink]="['/empreendimentos']">Novo</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a data-role="hint" data-hint-position="right" data-hint-text="Aqui você pode ver os detalhes do seu agendamento, reagendar e cancelar." routerLinkActive="active" [routerLink]="['/meus-agendamentos']">Meus
              Agendamentos</a></li>
        </ul>
      </li>
      <li class="group-title">Preferências</li>
      <li><a><span class="mif-user icon"></span>Perfil</a></li>
      <li><a><span class="mif-cogs icon"></span>Configurações</a></li>
      <li class="divider"></li>
      <li><a (click)="logout()"><span class="mif-exit icon"></span>Sair</a></li>
    </ul>
</aside>
