<div class="remark primary">
  <p>Selecione um empreendimento para prosseguir com o agendamento.</p>
</div>

<div class="grid">
  <div class="row">
    <div class="cell-md-6" *ngFor="let empreendimento of empreendimentos">
      <div data-role="panel" data-cls-title-icon="bg-green fg-white"
        data-title-caption="<span style='font-weight: bold'>Empreendimento</span>"
        data-cls-panel="shadow-1" data-title-icon="<span class='mif-room ani-float'></span>">
        <address>
          <strong> {{empreendimento?.razaoSocial}}</strong><br>
          {{empreendimento?.endereco}}, {{empreendimento?.complemento}}<br>
          Bairro : {{empreendimento?.bairro}}<br>
          <span class='mif-phone'></span><abbr title="Phone"> {{empreendimento?.ddd}}
            {{empreendimento?.telefone}}</abbr>
        </address>
        <a [routerLink]="['/empreendimentos', empreendimento.id]" class="button success outline">Selecionar</a>
      </div>
    </div>
  </div>
</div>
