<div class="remark primary">
  <p>Selecione o convênio e o especialista para prosseguir com o agendamento.</p>
</div>
<div class="row">
  <div class="cell-md-6">
    <div data-role="panel" data-cls-title-icon="bg-green fg-white"
      data-title-caption="<span style='font-weight: bold'>Dados do Estabelecimento</span>" data-cls-panel="shadow-1"
      data-title-icon="<span class='mif-room ani-float'></span>">
      <address>
        <strong>{{empreendimento?.razaoSocial}}</strong><br>
        {{empreendimento?.endereco}}<br>
        N° {{empreendimento?.numero}} , {{empreendimento?.cep}}<br>
      </address>
      <strong>Contatos</strong>
      <address>
        <span class='mif-phone'></span><abbr title="Phone"> {{empreendimento?.ddd}}
          {{empreendimento?.telefone}}</abbr><br>
        <span class='mif-mail'></span><a href="mailto:#"> {{empreendimento?.email}}</a><br>
        <span class='mif-earth2'></span><a href="#"> {{empreendimento?.url}}</a>
      </address>

    </div>
  </div>

  <div class="cell-md-6">
    <div data-role="panel" data-cls-title-icon="bg-green fg-white"
      data-title-caption="<span style='font-weight: bold'>Especialidades e Convênios</span>" data-cls-panel="shadow-1"
      data-title-icon="<span class='mif-credit-card ani-float'></span>">
      <div class="form-group">
        <label>Especialidade</label>
        <select>
          <option *ngFor="let especialidade of especialidades" [ngValue]="especialidadeSelecionada">
            {{ especialidade.nome }}
          </option>
        </select>
      </div>
      <app-convenio (selecionarConvenio)="selecionarConvenio($event)"></app-convenio>
    </div>
  </div>

</div>


<div class="row">
  <div class="cell-md-6">
    <app-prestador #prestador (selecionarPrestador)="selecionarPrestador($event)"></app-prestador>
  </div>

  <div class="cell-md-6">
    <app-data-horario #dataHorario (selecionarData)="confirmarAgendamento($event)"></app-data-horario>
  </div>
</div>


<div id="dialog" class="dialog" data-role="dialog">
  <div class="dialog-title">Confirmar Agendamento ?</div>
  <div class="dialog-content">
    <p> Deseja confirmar o seu agendamento com o {{prestadorSelecionado?.tratamento}} {{prestadorSelecionado?.nome}} ?
    </p>
    <hr>
    <span class="mif-calendar"></span><span> : {{dataHoraSelecionado?.data}} </span><br>
    <span class="mif-alarm"></span><span> : {{dataHoraSelecionado?.hora}}hs</span>
  </div>
  <div class="dialog-actions">
    <button type="submit" (click)="agendar()" class="button success js-dialog-close">Agendar</button>
    <button class="button alert js-dialog-close">Cancelar</button>
  </div>
</div>

