<div class="remark primary">
  <p>Selecione convênio e empreendimento para prosseguir com o agendamento.</p>
</div>
<div class="row">
  <div class="cell-md-6">
    <div data-role="panel" data-cls-title-icon="bg-green fg-white"
      data-title-caption="<span style='font-weight: bold'>Dados do Empreendimento</span>" data-cls-panel="shadow-1"
      data-title-icon="<span class='mif-room ani-float'></span>">
      <address>
        <strong>{{empreendimento?.razaoSocial}}</strong><br>
        {{empreendimento?.endereco}}<br>
        N° {{empreendimento?.numero}} , {{empreendimento?.cep}}<br>
      </address>
      <strong>Contatos</strong>
      <address>
        <span class='mif-phone'></span><abbr title="Phone"> {{empreendimento?.ddd}}
          {{empreendimento?.telefone}}</abbr><br>
        <span class='mif-mail'></span><a href="mailto:#"> {{empreendimento?.email}}</a><br>
        <span class='mif-earth2'></span><a href="#"> {{empreendimento?.url}}</a>
      </address>

    </div>
  </div>

  <div class="cell-md-6">
    <div data-role="panel" data-cls-title-icon="bg-green fg-white"
      data-title-caption="<span style='font-weight: bold'>Especialidades e Convênios</span>" data-cls-panel="shadow-1"
      data-title-icon="<span class='mif-credit-card ani-float'></span>">
      <div class="form-group">
        <label>Especialidade</label>
        <select>
          <option *ngFor="let especialidade of especialidades" [ngValue]="especialidadeSelecionada">
            {{ especialidade.nome }}
          </option>
        </select>
      </div>
      <app-convenio (selecionarConvenio)="selecionarConvenio($event)"></app-convenio>
    </div>
  </div>

</div>

<div class="row">
  <div class="cell-md-6">
    <app-prestador #prestador (selecionarPrestador)="selecionarPrestador($event)"></app-prestador>
  </div>

  <div class="cell-md-6">
    <div data-role="panel" data-cls-title-icon="bg-green fg-white"
      data-title-caption="<span style='font-weight: bold'>Data e Horários</span>" data-cls-panel="shadow-1"
      data-title-icon="<span class='mif-calendar ani-float'></span>">
      <div class="form-group">
        <label>Data</label>
        <input type="text" (change)="onSaveName(dataInput)" #dataInput data-calendar-wide-point="md"
          data-format="%d/%m/%y" data-input-format="%d/%m/%y" data-picker-mode="true" data-role="calendarpicker"
          data-dialog-mode="true" [attr.data-special]="datas">

      </div>
      <!-- Data Selecionada : {{dataInput.value}}-->
      <div class="row">
        <div class="cell-12">
          <label>Horários Disponíveis</label>
          <br>
          <div>
            <button class="image-button bg-green drop-shadow primary rounded ">
              <span class="mif-alarm icon"></span>
              <span class="caption">12:00</span>
            </button>

            <button class="image-button bg-green drop-shadow rounded primary">
              <span class="mif-alarm icon"></span>
              <span class="caption">13:30</span>
            </button>

            <button class="image-button bg-green  drop-shadow rounded primary">
              <span class="mif-alarm icon"></span>
              <span class="caption">14:30</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
