.item-label {
  font-size: 14px;
  font-weight: 600;
}

div.item {

  &:hover {
    cursor: pointer;
    background-color: #e8e8e8;
  }

  span.label {
    @extend .item-label;
    color: #212121;
  }

  span.second-label {
    @extend .item-label;
    color: #757575;
  }

}

