.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

div {
  p {
    margin-bottom: -10px;
    font-size: 13px;
  }

  p.situacao {
    margin-bottom: 1px;
  }
}

div.shadow-1 {
  padding: 20px;
}

ul.d-menu {
  margin-top: 35px;

}

div.box {
  outline-color: #b7c6cd;
background-color: #607d8b;
  width: 84px;
  height: 76px;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: .25rem;

  span {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    display: block;
    margin-top: -12px;
  }
  span.detail {
    font-size: 16px;
    margin-top: -6px;
  }
  span.detail-hour {
    font-size: 13px;
    margin-top: -1px;
  }
}

div.agendamento-detalhe {
  p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    font-weight: bold;
  }
  span.status {
    margin-top: -12px;
  }
}


.box-shadow {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);
}
