div {
  p {
    margin-bottom: -10px;
    font-size: 13px;
  }
}

div.box-shadow {
  margin-bottom: 20px;
}


div.shadow-1 {
  padding: 20px;
}

ul.d-menu {
  margin-top: 35px;

}

div.box {
  outline-color: #b7c6cd;
  background-color: #607d8b;
  width: 84px;
  height: 76px;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: .25rem;
  text-shadow: 0px 1px #111010;

  span {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    display: block;
    margin-top: -12px;
  }

  span.detail-mes {
    font-size: 16px;
    margin-top: -9px;
  }
  span.detail-hour {
    font-size: 16px;
    margin-top: -4px;
  }
}

div.agendamento-detalhe {
  p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    font-weight: bold;
    //color: #60a917;
  }
  span.status {
    margin-top: -12px;
  }

  span.detail-hour {
    margin-left: 10px;
  }
}

.box-shadow {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);
}


div {
  button.dropdown-toggle {
    margin-right: 11px;
    margin-top: 9px;
  }
}

hr {
  background-color: #e5e5e5;
}
