<br>
<div class="remark primary">
  <p>Aqui você pode ver os detalhes do seu agendamento, reagendar e cancelar. clicando em opções.</p>
</div>
<br>
<div class="container">
   <div class="box-shadow" *ngFor="let item of agendamentos">
    <div style="float: right" class="pos-relative">
      <button class="button square dropdown-toggle"> Opções</button>

      <!--<span class="mif-more-vert mif-3x"></span>-->

      <ul class="d-menu shadow-2 drop-left no-marker" data-role="dropdown" style="display: none;">
        <li><a [routerLink]="['/meus-agendamentos' , item?.Id]" >Visualizar</a></li>
        <li><a [routerLink]="['/meus-agendamentos/'+ item?.Id + '/reagendar']">Reagendar</a></li>
        <li><a (click)="dialogCancelar(item)">Cancelar</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="box">
        <span>{{item?.DataAgendada | slice:0:2}}</span>
        <span class="detail-mes"> {{item?.DataAgendada | mesFormat}}</span>
        <span class="detail-hour">{{item?.HoraInicial | slice:0:5}}</span>
      </div>

      <div class=agendamento-detalhe>
        <p>{{item?.Tratamento}} {{item?.NomePrestador}}</p>
        <span>Especialidade: {{item?.TipoEspecialidade}}</span><br>
        <hr>
        <span class="status tally success" style="margin-right: 10px;">{{item?.NomeConvenio}}</span>
        <span class="status tally primary">Agendado</span>
      </div>
    </div>
  </div>
</div>

