.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

div {
  p {
    margin-bottom: -10px;
    font-size: 13px;
  }

  p.situacao {
    margin-bottom: 1px;
  }
}

div.shadow-1 {
  padding: 20px;
}

ul.d-menu {
  margin-top: 35px;

  /* li {
    width: 132px;
    height: 50px;
    padding: 10px;
    span {
      margin-right: 10px;
    }
  }*/
}

div.box {
  background: rgb(60, 60, 189);
  width: 120px;
  height: 128px;
  margin-left: -20px;
  color: white;
  padding: 10px;
  margin-top: -4px;
  span {
    font-size: 3em;
    text-align: center;
    display: block;
  }
  span.detail {
    font-size: 2em;
    margin-top: -20px;
  }
}

div#grid {
  height: 88px;
  margin-top: -16px;
}
