<br>
  <div class="container">

  <div class="float-left">
    <h6>Detalhes do Agendamento</h6>
  </div>
<div class="float-right">
  <a [routerLink]="['/meus-agendamentos']" class="button light rounded">
    <span class="caption"><< Voltar</span>
  </a>
  </div>

</div>

<div class="remark">
  <div class="divisor">
    <span class="fg-green mif-user-md mif-2x"></span>
    <span class="titulo-secao"> Informações do Prestador</span>
  </div>
  <div class="avatar">
    <div *ngIf="!prestador?.uriFoto" data-role="activity" data-type="simple" data-style="color"></div>
    <img *ngIf="prestador?.uriFoto"  [src]="prestador?.uriFoto">
  </div>
  <div class="dados-prestador">
    <p><strong>{{prestador?.tratamento}} {{prestador?.nome}}</strong></p>
    <span>{{prestador?.tipoEspecialidade}}</span>
  </div>

  <div class="divisor">
    <span class="fg-green mif-location mif-2x"></span>
    <span class="titulo-secao"> Local de Atendimento</span>
  </div>
  <strong>{{empreendimento?.razaoSocial}}</strong><br>
  <span>{{empreendimento?.endereco}} ,{{empreendimento?.complemento}}</span><br>
  <span>Bairro : {{empreendimento?.bairro}}</span>

  <router-outlet></router-outlet>
</div>



