<div class="container mt-16">
  <div class="card shadow-1 cell-md-12 cell-lg-6 mx-auto">
    <div class="card-header">
      <span class="mif-lock mif-4x place-right" style="margin-top: -10px;"></span>
      <b>AGE</b> | Login
      <p class="login-box-msg">Por favor, efetue o login para continuar</p>
      <hr class="thin mt-4 mb-4 bg-white">
    </div>
    <div class="card-content p-2">
      <form [formGroup]="loginForm">
        <br>
        <app-form-field-error errorMessage="O campo usuário é obrigatório">
          <input formControlName="username" type="text" data-role="input" data-prepend="<span class='mif-user'>"
            placeholder="usuário">
        </app-form-field-error>

        <app-form-field-error errorMessage="O campo senha é obrigatório">
          <input formControlName="password" type="password" data-role="input" data-prepend="<span class='mif-key'>"
            placeholder="senha">
        </app-form-field-error>


        <app-form-field-error errorMessage="O campo senha é obrigatório" label="Perfil de Acesso">
          <br>
          <input data-cls-caption="fg-cyan text-bold" data-style="2" data-role="radio" type="radio" value="1"
            formControlName="perfil">
          <span class='mif-user icon'></span><span class="mr-3">Cliente</span>
          <input data-cls-caption="fg-cyan text-bold" data-style="2" data-role="radio" type="radio" value="2"
            formControlName="perfil">
          <span class='mif-user-md icon'></span>
          <span>Prestador</span>
        </app-form-field-error>

        <div class="form-group mt-10 mb-5">
          <p class="text-center">É seu primeiro acesso? <a href="/">Cadastre-se</a></p>
          <br>
          <br>
          <button *ngIf="!validandoLogin" [disabled]="loginForm.invalid" (click)="login()"
            class="button rounded primary float-right drop-shadow shadow-1">Entrar</button>
          <div *ngIf="validandoLogin" data-role="activity" class="float-right loading" data-type="simple"
            data-style="color"></div>
        </div>
        <br>
      </form>
    </div>
  </div>

</div>
