<div class="remark primary shadow-1">
  <h3>Agendamento Online</h3>
    Quisque eget vestibulum nulla. Quisque quis dui quis ex
    ultricies efficitur vitae non felis. Phasellus quis nibh
    hendrerit...s
  <p>Selecione um prestador</p>
  <button class="button primary outline drop-shadow">Iniciar</button>
</div>

<div class="card">
    <div class="card-header">
       AGE
    </div>
    <div class="card-content p-2">
        Quisque eget vestibulum nulla. Quisque quis dui quis ex
        ultricies efficitur vitae non felis. Phasellus quis nibh
        hendrerit...s
    </div>
    <div class="card-footer">
        <button class="button primary outline">Primary</button>
    </div>
</div>

<div data-role="panel"
    data-cls-title="fg-white bg-green"
    data-cls-panel="shadow-1"
    data-title-caption="Prestadores">
    <div class="items-list">
        <div class="item">
            <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
            <span class="label">Dr. João Evandro</span>
            <span class="second-label">Ortodontia</span>
            <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
        </div>

        <div class="item">
            <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
            <span class="label">Dr. João Evandro</span>
            <span class="second-label">Prótese</span>
            <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
    </div>

    <div class="item">
        <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
        <span class="label">Dr. João Evandro</span>
        <span class="second-label">Reabilitação Oral</span>
        <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
    </div>

    </div>
</div>



<!--<div class="remark primary">
   <h4>Prestadores</h4>

<div class="items-list">
    <div class="item">
        <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
        <span class="label">Dr. João Evandro</span>
        <span class="second-label">Ortodontia</span>
        <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
    </div>

    <div class="item">
        <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
        <span class="label">Dr. João Evandro</span>
        <span class="second-label">Prótese</span>
        <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
</div>

<div class="item">
    <img class="avatar" src="https://metroui.org.ua/images/me.jpg">
    <span class="label">Dr. João Evandro</span>
    <span class="second-label">Reabilitação Oral</span>
    <span class="second-action mif-chevron-thin-right fg-red ani-horizontal"></span>
</div>

</div>
</div>
-->




<!--

<input type="text"
(change)="onSaveName(dataInput)"
#dataInput
data-calendar-wide-point="md"
data-format="%d/%m/%y"
data-input-format="%d/%m/%y"
data-picker-mode="true"
data-role="calendarpicker"
data-dialog-mode="true"
[attr.data-special]="datas">
{{dataInput.value}}-->
