<div class="remark primary shadow-1">
  <h3>Bem Vindo ao AGE !</h3>
  <p>Realize <a [routerLink]="['/empreendimentos']">agendamentos</a> e seu pré-atendimento com alguns cliques em seu aplicativo.</p>
  <br>
  <a [routerLink]="['/empreendimentos']" class="button primary outline drop-shadow">Iniciar</a>
</div>
<!--

<input type="text"
(change)="onSaveName(dataInput)"
#dataInput
data-calendar-wide-point="md"
data-format="%d/%m/%y"
data-input-format="%d/%m/%y"
data-picker-mode="true"
data-role="calendarpicker"
data-dialog-mode="true"
[attr.data-special]="datas">
{{dataInput.value}}-->
